body {
  min-height: 100vh;
}

div[class^="dataTables_"] label {
  align-items: center !important;
  display: flex;

  * {
    margin-left: 5px;
    margin-right: 5px;
  }

  select {
    width: 100px;
  }
}
