{% extends 'base.html.twig' %}

{% block body %}
    <div class="card border-danger">
        <div class="card-header bg-danger text-white">
            UWAGA
        </div>
        <div class="card-body">
            Strona nieaktywna - testy
        </div>
    </div>
{% endblock %}