{% extends 'base.html.twig' %}

{% block body %}
    <div class="mt-5">
        <div class="border-bottom border-info mb-4">
            <h3 class="m-0 d-inline">Wypożycz książkę</h3>
            <a class="badge badge-secondary float-right" href="{{ path('admin_loan') }}" id="powrot"><i class="fa fa-arrow-left"></i>&nbsp;Powrót</a>
        </div>
    </div>
{{ form_start(form) }}
{{ form_row(form.user) }}
<div class="form-group row">
    <div class="col-sm-10 offset-sm-2">
        <button id="zapisz" class="btn btn-success w-100" type="submit">Zapisz</button>
    </div>
</div>

{{ form_end(form) }}
    <script>
        document.getElementById("book_loan_form_user").addEventListener("load", () => {
            $("#book_loan_form_user").select2()
        })
    </script>
{% endblock %}